doctype html
html
  head
    title jwlm
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdn.auth0.com/js/lock/11.2.1/lock.min.js")
  body
    img(src='http://icons.iconarchive.com/icons/sonya/swarm/256/Cat-icon.png').w3-center
    nav.w3-center.w3-white( role="navigation" )
      .w3-bar-item.w3-text-grey #{process.env.CUSTOMER}
      a( href="/").w3-bar-item.w3-button Home
      if loggedIn
        a( href="/user" ).w3-bar-item.w3-button Profile
        a( href="/logout" ).w3-bar-item.w3-button Logout
      else
        a( href="/elogin" ).w3-bar-item.w3-button Embedded Login
        a( href="/clogin" ).w3-bar-item.w3-button Universal Login

    block content
